<div class="header">
  <h3 class="panelLogo">{{title}}</h3>
  <div class="panelSession">
    
    <span *ngIf="session; then logout else login"></span>    
    <ng-template #login><a routerLink="/register">Register</a> | <a routerLink="/login">Login</a></ng-template>
    <ng-template #logout>Hello {{ session.username }} | <button (click)="doLogout()">Logout</button></ng-template>
  </div>
</div>

<nav>
  <ul>
    <ng-container *ngFor="let route of routelist">
      <li *ngIf="!route.hideMenu">
        <a routerLink="/{{route.href}}">{{route.caption}}</a>
      </li>
    </ng-container>
  </ul>
</nav>

<hr>

<router-outlet></router-outlet>